<ActionBar title="Card Layouts ♣️❤️" class="action-bar">
    </ActionBar>
    
    <GridLayout>
        <ScrollView class="page">
            <StackLayout>
                <Label class="h1" [text]="'Workouts'"></Label>
                <!-- On Android the card view plugin requires adding an external library
                    therefore it can't be demoed on Playground. You will have to download this project
                    and build it locally to try it on Android -->
                <CardView *ngFor="let item of data" class="card" elevation="40" radius="10" ios:shadowRadius="3">
                    <StackLayout class="card-layout">
                        <Label class="h2" [text]="item.date"></Label>
                        <Label class="body" textWrap="true" [text]="item.content"></Label>
                    </StackLayout>
                </CardView>
            </StackLayout>
        </ScrollView>
    </GridLayout>